In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("train_set.csv")
df

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,2016,3,Human Welfare & Neighborhood Development,DSS,Human Services,535,"SEIU - Human Services, Local 1021",Human Services,Senior Eligibility Worker,9610,78980,30115,13068.80,Fiscal,147079
287832,2015,5,Culture & Recreation,LIB,Public Library,790,"SEIU - Miscellaneous, Local 1021",Library,Librarian 1,790,30704,0,5465.57,Calendar,40174
287833,2014,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,6,"Electrical Workers, Local 6",Journeyman Trade,Electronic Maintenance Tech,38352,104451,0,13054.94,Calendar,164669
287834,2013,1,Public Protection,JUV,Juvenile Probation,250,"SEIU - Health Workers, Local 1021",Housekeeping & Laundry,Porter,29266,14425,0,4051.90,Calendar,19594
287835,2015,4,Community Health,DPH,Public Health,791,"SEIU - Staff and Per Diem Nurses, Local 1021",Nursing,Special Nurse,13906,105561,8945,7993.89,Fiscal,154197

In [3]:
df.isnull().sum()

Year                   0
OGC                    0
OG                     0
DC                     0
Dept                   0
UC                     0
Union                 36
JF                    38
Job                    0
EI                     0
Salaries               0
Overtime               0
H/D                    0
YT                     0
Total_Compensation     0
dtype: int64

In [5]:
df.shape

(287836, 15)

In [6]:
df.drop_duplicates()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.000000,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.310000,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.500000,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.870000,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.280000,Calendar,82106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287153,2014,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,6,"Electrical Workers, Local 6",Journeyman Trade,Electr Maint Tech Asst Sprv,6692,111641,37343,12512.560000,Fiscal,200562
287154,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,21,"Prof & Tech Engineers - Miscellaneous, Local 21","Budget, Admn & Stats Analysis",Senior Administrative Analyst,13713,66728,0,8379.990000,Fiscal,92987
287155,2014,3,Human Welfare & Neighborhood Development,DSS,Human Services,1,Miscellaneous Unrepresented Employees,Public Service Aide,Public Svc Aide-Public Works,22096,6971,0,3102.636267,Calendar,11280
287156,2014,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,38,"Plumbers and Pipefitters, Local 38",Journeyman Trade,Utility Plumber,12077,97557,31811,13054.930000,Calendar,173855
287157,2016,4,Community Health,DPH,Public Health,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Med Therapy & Auxiliary,Health Program Coordinator 3,6261,87126,0,13068.800000,Fiscal,120267

In [7]:
X = df[["Salaries", "Overtime", "H/D"]]
X

        Salaries  Overtime       H/D
0          12196         0      0.00
1          74639      2820  12703.31
2         100554         0  12424.50
3         140164     52754  13043.87
4          58813         0   7655.28
...          ...       ...       ...
287831     78980     30115  13068.80
287832     30704         0   5465.57
287833    104451         0  13054.94
287834     14425         0   4051.90
287835    105561      8945   7993.89

[287836 rows x 3 columns]

In [10]:
y = df[["Total_Compensation"]]
y

        Total_Compensation
0                    16158
1                   115784
2                   144708
3                   242323
4                    82106
...                    ...
287831              147079
287832               40174
287833              164669
287834               19594
287835              154197

[287836 rows x 1 columns]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [13]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [14]:
pred = model.predict(X_test)
pred

array([[ 91267.85244467],
       [101767.99727101],
       [198335.12343544],
       ...,
       [  2500.55291582],
       [143627.78827994],
       [133495.56169991]])

In [24]:
test  = X_test
test["predicted_Compensation"] = pred
test

,Salaries,Overtime,H/D,Total_compensation,predicted_Compensation
186615,57645,1120,12918.24000,93440,91267.852445
148397,67192,0,12411.85531,99038,101767.997271
140317,140033,1562,12424.51000,189320,198335.123435
28450,75742,25110,6243.62000,143201,135937.381839
116197,127304,0,12512.55000,176775,180021.011898
...,...,...,...,...,...
155067,76394,0,12381.19325,111663,113695.061499
37381,120041,18086,12924.88000,190909,192662.964373
79762,1198,127,326.20000,1754,2500.552916
89131,75998,25076,12801.79000,154746,143627.788280
10578,92354,0,11542.74000,137825,133495.561700